:root{
  /* Colors */

    /* Primary */
      --primary-clr-tomato: hsl(4, 100%, 67%);

    /* Neutral */
      --neutral-clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
      --neutral-clr-Charcoal-Grey: hsl(235, 18%, 26%);
      --neutral-clr-Grey: hsl(231, 7%, 60%);
      --neutral-clr-White: hsl(0, 0%, 100%);

  /* Typography */

    /* Body Copy */
      --fs-paragraph: 16px;

  /* Font */
      --ff: "Roboto", sans-serif;
      --fw-400: 400;
      --fw-700: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-clr-White);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
  max-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
}

.content{
  margin: 0 1em 0 1em;
}

.content__title{
  font-size: calc(32px + 2vw);
  text-align: left; 
  width: 100%;
  margin: .7em 0 .7em 0;
  font-weight: var(--fw-700);
  color: var(--neutral-clr-Dark-Slate-Grey);
}

.content__subtitle{
  font-size: var(--fs-paragraph);
  text-align: left; 
  width: 100%;
  font-weight: var(--fw-400);
  color: var(--neutral-clr-Dark-Slate-Grey);
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  color: var(--primary-clr-tomato);
  margin-top: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 450px) {
  /* this is the max width of image, so need to add background  */
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2em; 
    width: 100%; 
  }

  .content {
    grid-column: 1; 
  }

  .header__container {
    grid-column: 2; 
  }
}